@if(splash()) {
  <app-splash></app-splash>
}
@else {



<div [ngStyle]="{
    'background-image': 'url(' + imageUrl + ')',
   
  }"
  class="main"
  >
   <div class="title-container">
     <img src="assets/logo.svg" alt="Loading..." />
   </div>
    <div class="container">
        <div class="panel1">
            <div class="header">
                <div class="visible-langs">



                    <select *ngIf="languages.length > 3" [formControl]="sourceLang" class="lang-select">
                        <option value="" disabled selected>More Languages...</option>
                        @for (lang of languages; track lang) {
                        <option [value]="lang.code">{{ lang.name }}</option>
                        }
                    </select>
                </div>

            </div>
            <hr />

            <textarea [formControl]="originalText" maxlength="500" name="source" id=""></textarea>
            <hr />





            <label style="align-self: flex-end;" for="">{{originalText.value?.length}} / 500</label>
            <div class="button-container">

                <div class="buttons">
                    <button (click)="copyText(true)" class="copy">
                        <img src="assets/Copy.svg" alt="">
                    </button>


                    <button (click)="speak(true)" class="copy">
                        <img src="assets/sound_max_fill.svg" alt="">
                    </button>
                </div>

                <div class="button">

                    <button (click)="translateText()">Translate</button>
                </div>
            </div>
        </div>

        <div class="panel1">
            <div class="header">
                <div class="visible-langs">



                    <select *ngIf="languages.length > 3" [formControl]="targetLang" class="lang-select">
                        <option value="" disabled selected>More Languages...</option>
                        @for (lang of languages; track lang) {
                        <option [value]="lang.code">{{ lang.name }}</option>
                        }
                    </select>

                    <button class="switch" (click)="switchLangs()">
                        <img src="assets/Horizontal_top_left_main.svg" alt="">
                    </button>
                </div>

            </div>
            <hr />

            <textarea readonly [formControl]="translatedText" name="source" id=""></textarea>

            <hr />
            <div class="button-container">

                <div class="buttons">
                    <button (click)="copyText(false)" class="copy">
                        <img src="assets/Copy.svg" alt="">
                    </button>


                    <button (click)="speak(false)" class="copy">
                        <img src="assets/sound_max_fill.svg" alt="">
                    </button>
                </div>


            </div>
        </div>
    </div>


</div>

}